/* Accessable NYC by Eddie Flores. Brooklyn, 2013. */


/* jqm overrides */

.ui-corner-all {
  -webkit-border-radius: 3px;
}

.ui-btn-hover-c {
  background: #ffffff;
  border: 1px solid #ebebeb;
}

.ui-btn-up-c {
  background: #f2f2f2;
  border-left: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid white;
  background-image: none;
  text-shadow: 2px 2px 0px white;
  color: #333333;
}

.ui-body-c {
  background: #f8f8f8;
  border: 1px solid #ebebeb;
}


.container {
  background: #FBFBFB url('images/bg.png');
}

.intro {
  text-align: center;
  /*display: none;*/
}

.dark-flat {
  background: #333333;
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
}

.sub-container {
  display: block;
  float: left;
  padding: 0px;
  margin: 20px 0px;
  border: none;
}

.sub-container li {
  list-style: none;
  display: inline;
  margin-bottom: 2px;
}

.time-status {
  font-size: 14px !important;
}

.brand {
  font-family: "BebasNeueRegular";
  font-size: 24px !important;
  font-weight: normal;
  text-shadow: 0px 1px 0px black;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.notice {
  clear: both;
}

.notice div h3 {
  text-transform: capitalize;
}

.line {
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 2px;
  padding-top: 15px;
  width: 50px;
  height: 35px;
  text-shadow: none;
  -webkit-border-radius: 5px;
}

.line:hover, .line:active {
  opacity: 0.5;
}

.line-mini {
  color: white;
  cursor: normal;
  font-size: 14px;
  padding-top: 10px;
  height: 26px;
  width: 35px;
  background: #c0c0c0;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 1px;
}

.inactive {
  background: #ebebeb !important;
  border: 1px solid #ffffff !important;
  text-shadow: 1px 1px 0px #ffffff !important;
  color: #b9b9b9;
}

#n, #q, #r {
  background: #FCCC0A;
  border: 1px solid #f0c20a;
  text-shadow: 2px 2px 0px #f0c20a;
}

#a, #c, #e {
  background: #2850AD;
  border: 1px solid #254AA1;
  text-shadow: 2px 2px 0px #254AA1;
}

#b, #d, #f, #m {
  background: #FF6319;
  border: 1px solid #F25E18;
  text-shadow: 2px 2px 0px #F25E18;
}

#g {
  background: #6CBE45;
  border: 1px solid #65B341;
  text-shadow: 2px 2px 0px #65B341;
}

#j, #z {
  background: #996633;
  border: 1px solid #8C5E2F;
  text-shadow: 2px 2px 0px #8C5E2F;
}

#l {
  background: #A7A9AC;
  border: 1px solid #9A9B9E;
  text-shadow: 2px 2px 0px #9A9B9E;
}

#s {
  background: #808183;
  border: 1px solid #737475;
  text-shadow: 2px 2px 0px #737475;
}

[id='1'], [id='2'], [id='3'] {
  background: #EE352E;
  border: 1px solid #E0322B;
  text-shadow: 2px 2px 0px #E0322B;
}

[id='4'], [id='5'], [id='6'] {
  background: #00933C;
  border: 1px solid #008737;
  text-shadow: 2px 2px 0px #008737;
}

[id='7']{
  background: #B933AD;
  border: 1px solid #AD30A2;
  text-shadow: 2px 2px 0px #AD30A2;
}